html
  head
    link(href=assets.css, rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400", rel="stylesheet")
    script(src="https://use.fontawesome.com/a255e6ed5f.js")
  body
    div(id='content')
    script(type='text/javascript').
      var __initial_state__ = "!{initial_state";
    script(type='text/javascript', src=assets.js)
